$inputBgColor: white;
$inputNoFocusColorLabel: #5d5d5d;
$inputNoFocusColorBorder: #c4c4c4;
$primary-color: #1976d2;

.selectWrap {
  position: relative;

  .selectLabel {
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 0 3px;
    color: $inputNoFocusColorLabel;
    background-color: $inputBgColor;
  }

  .selectInput {
    padding: 20px;
    border-radius: 4px;

    &:hover {
      border-color: black;
    }

    &:focus {
      border-color: #1976d2;
      outline: none;
    }
  }

  .selectInput:focus ~ .selectLabel {
    top: 0;
    left: 3%;
    color: $primary-color;
  }
}

.isValue {
  .selectLabel {
    left: 3%;
    top: 0%;
  }
}
